@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Unlimited movies, TV shows, and more</h1>
    <p class="para2">Starts at R 49. Cancel anytime.</p>
    <p class=" para3">
        Ready to watch? Enter your email to create or restart your membership.
    </p>

    <input type="email" id="email" name="email" placeholder=" Email Address"/>
    <button value="Submit"> Get Started</button>

</div>
